---
import Text from "@components/ui/Text.astro";
import Photo from "@images/profile-picture-straight.jpg";
import DocumentPage from "@layouts/document/DocumentPage.astro";
import Link from "@components/ui/Link.astro";
import DocumentMedia from "@mdx/DocumentMedia.astro";
import { ADDRESS, PHONE_NUMBER } from "astro:env/server";
import { capitalize } from "@integrations/text";
import { getStaticPaths as getBasePaths } from "@pages/index.astro";
import { addBaseToLink, getRole } from "@integrations/astro-server";
import {
  getSpecializationSentence,
  getWorkFieldsSentence,
} from "@integrations/docs";
import { getTech } from "@components/TechList.astro";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import { i18n, setLocale } from "@integrations/i18n-server";

export const getStaticPaths = getBasePaths;

const { role } = await getRole(Astro);

const portfolioVersion = await addBaseToLink(Astro);
const portfolioLink = `${import.meta.env.SITE}${portfolioVersion === "/" ? "" : portfolioVersion}`;

const specializationSentence = await getSpecializationSentence(Astro);

const workFieldsSentence = await getWorkFieldsSentence(Astro);

const tech = await getTech(Astro);

// TODO MAKE COLLECTION FOR EXPERIENCE AND EDUCATION, THAT CAN CHANGE INFO BASED ON ROLE (FOR EXAMPLE, PROGRAMMER SHOULD SPECIFY THAT I WAS A PROGRAMMER, NOT A GAME DESIGNER)

await setLocale(Astro);
dayjs.extend(duration);
dayjs.extend(relativeTime);

const t = i18n(Astro);
const address = ADDRESS ? await t(ADDRESS, { noCache: true }) : undefined;
---

<DocumentPage>
  <DocumentMedia
    src={Photo}
    alt="HIDDEN Portrait of Max Ludovico Hofer ASPECT 1/1 TOP"
  />
  <Text tag="h1">Max Ludovico Hofer</Text>
  <Text
    >{capitalize(role.id)} experienced in leadership and software, {
      specializationSentence
    }.</Text
  >
  <Text tag="span"
    ><Text tag="span" format="branded">👜</Text> Portfolio 🡢
    <Link href={portfolioLink} />
    <br /><Text tag="span" format="branded">📬</Text>
    <Link href="mailto:hofermaxludovico@gmail.com" /></Text
  >
  {
    PHONE_NUMBER && (
      <>
        <br />
        <Text tag="span" format="branded">
          📞
        </Text>
        <Link href={`tel:${PHONE_NUMBER}`} />
      </>
    )
  }
  {
    ADDRESS && (
      <>
        <br />
        <Text tag="span" format="branded">
          📍
        </Text>
        <Link href={`https://maps.google.com/?q=${ADDRESS}`}>{address}</Link>{" "}
        <Text tag="span">(open to relocate)</Text>
      </>
    )
  }
  <Text tag="h2">Experience</Text>
  <Text tag="h3">Game director for school projects</Text>
  <Text tag="h4" subtitle
    >BigRock Institute of Magic Technologies - 09/23 - 03/24</Text
  >
  <Text tag="ul">
    <li>
      Directed a published game, completed in 3 months by an average team of 18.
      The game won People's Choice at "The Rookies Awards".
    </li>
    <li>
      Designed and lead development of multiple prototypes for clients or game
      jams, completed by teams of 5.
    </li>
  </Text>
  <Text tag="h3">Project manager</Text>
  <Text tag="h4" subtitle>INattivo Soc. Cons. a.r.l. - 05/21 - 03/22</Text>
  <Text tag="ul">
    <li>
      Envisioned and lead development of innovative B2C and B2B solutions in the
      credit brokerage sector.
    </li>
    <li>Worked as a DevOps full stack programmer.</li>
  </Text>
  <Text tag="h3">Technical lead</Text>
  <Text tag="h4" subtitle>Zulu Medical - 11/19 - 04/21</Text>
  <Text tag="ul">
    <li>Managed R&D innovation in the telemedicine sector.</li>
    <li>Worked as a scrum master, and desktop and full stack programmer.</li>
  </Text>
  <Text tag="h2">Education</Text>
  <Text tag="h3">Technical art for videogames</Text>
  <Text tag="h4" subtitle
    >BigRock Institute of Magic Technologies - 09/23 - 03/24</Text
  >
  <Text tag="ul">
    <li>
      Studied the game development pipeline, using the latest industry
      standards.
    </li>
    <li>Specialized in design and technical aspects.</li>
  </Text>
  <Text tag="h3">Software engineering (Not graduated)</Text>
  <Text tag="h4" subtitle>University of Padua - 2016 - 2019</Text>
  <Text tag="ul">
    <li>
      Learned physics, math for games, electronics, and advanced computer
      science.
    </li>
  </Text>
  <Text tag="h3">Computer science</Text>
  <Text tag="h4" subtitle>High school - 2011 - 2016</Text>
  <Text tag="ul">
    <li>
      Studied programming for videogames, desktop, web, data analysis, and
      electronics, in most major languages, from assembly to python.
    </li>
    <li>
      Won school programming competition and top 25% placement at national team
      programming competition.
    </li>
  </Text>
  <Text tag="h2">Skills</Text>
  <Text tag="ul" class="grid grid-cols-3" translateProps={{ disable: true }}>
    {
      tech.map(async ({ data: { id, experience } }) => {
        const techItem = `${await t(id)}${await t(",")} ${dayjs.duration(experience).humanize()}`;

        return <li class="pr-7 my-0.5">{techItem}</li>;
      })
    }
  </Text>
  <Text tag="ul" class="-mt-3">
    <li>
      I made games for desktop, mobile, and online and local multiplayer. {
        workFieldsSentence
      }
    </li>
    <li>
      I am fluent in English, German, and Italian. I'm at Japanese limited
      professional (N3) level. I also understand French and Spanish at a basic
      level.
    </li>
  </Text>
  <Text tag="h3">Extra</Text>
  <Text tag="ul">
    <li>I keep up to date with the latest technology and research.</li>
    <li>
      I am passionate about cinema and arts, especially cyberpunk and cosmic
      horror.
    </li>
    <li>
      I create electronic music and worked as mixing and mastering engineer.
    </li>
  </Text>
</DocumentPage>
