---
import Text from "@components/ui/Text.astro";
import Photo from "@images/profile-picture-straight.jpg";
import DocumentPage from "@layouts/document/DocumentPage.astro";
import Link from "@components/ui/Link.astro";
import DocumentMedia from "@document/DocumentMedia.astro";
import { ADDRESS, PHONE_NUMBER } from "astro:env/server";
import { capitalize } from "@integrations/text";
import { getStaticPaths as getBasePaths } from "@pages/index.astro";
import { addBaseToLink, getRole } from "@integrations/astro-server";
import {
  getSpecializationSentence,
  getWorkFieldsSentence,
} from "@integrations/docs";
import { getTech } from "@components/TechList.astro";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import { i18n, setLocale } from "@integrations/i18n-server";
import KnowHow from "@components/KnowHow.astro";

export const getStaticPaths = getBasePaths;

const { role } = await getRole(Astro);

const portfolioVersion = await addBaseToLink(Astro);
const portfolioLink = `${import.meta.env.SITE}${portfolioVersion === "/" ? "" : portfolioVersion}`;

const specializationSentence = await getSpecializationSentence(Astro);

const workFieldsSentence = await getWorkFieldsSentence(Astro);

const tech = await getTech(Astro);

await setLocale(Astro);
dayjs.extend(duration);
dayjs.extend(relativeTime);

const t = i18n(Astro);
const address = ADDRESS ? await t(ADDRESS, { noCache: true }) : undefined;

const portfolioSentence = await t("Portfolio");
const relocateSentence = await t("(open to relocate)");
---

<DocumentPage>
  <DocumentMedia
    src={Photo}
    alt="HIDDEN Portrait of Max Ludovico Hofer ASPECT 1/1 TOP"
  />
  <Text tag="h1">Max Ludovico Hofer</Text>
  <Text
    >{capitalize(role.id)} experienced in leadership and software, {
      specializationSentence
    }.</Text
  >
  <span
    ><Text tag="span" format="branded" translateProps={{ disable: true }}
      >👜</Text
    >
    {portfolioSentence} 🡢
    <Link href={portfolioLink} />
    <br /><Text tag="span" format="branded" translateProps={{ disable: true }}
      >📬</Text
    >
    <Link href="mailto:hofermaxludovico@gmail.com" /></span
  >
  {
    PHONE_NUMBER && (
      <>
        <br />
        <Text tag="span" format="branded" translateProps={{ disable: true }}>
          📞
        </Text>
        <Link href={`tel:${PHONE_NUMBER}`} />
      </>
    )
  }
  {
    ADDRESS && (
      <>
        <br />
        <Text tag="span" format="branded" translateProps={{ disable: true }}>
          📍
        </Text>
        <Link href={`https://maps.google.com/?q=${ADDRESS}`}>{address}</Link>{" "}
        {relocateSentence}
      </>
    )
  }<KnowHow /><Text tag="h2">Skills</Text>
  <ul class="grid grid-cols-3">
    {
      tech.map(async ({ data: { id, experience } }) => {
        const techItem = `${await t(id)}${await t(",")} ${dayjs.duration(experience).humanize()}`;

        return <li class="pr-7 my-0.5">{techItem}</li>;
      })
    }
  </ul>
  <ul class="-mt-3">
    <Text tag="li">
      I made games for desktop, mobile, and online and local multiplayer. {
        workFieldsSentence
      }
    </Text>
    <Text tag="li">
      I am fluent in English, German, and Italian. I'm at Japanese limited
      professional (N3) level. I also understand French and Spanish at a basic
      level.
    </Text>
  </ul>
  <Text tag="h3">Extra</Text>
  <ul>
    <Text tag="li"
      >I keep up to date with the latest technology and research.</Text
    >
    <Text tag="li">
      I am passionate about cinema and arts, especially cyberpunk and cosmic
      horror.
    </Text>
    <Text tag="li">
      I create electronic music and worked as mixing and mastering engineer.
    </Text>
  </ul>
</DocumentPage>
