---
import Text from "@ui/Text.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import Card from "@layouts/Card.astro";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import PostCover from "@post/PostCover.astro";
import Link from "@ui/Link.astro";
import Button from "@ui/Button.astro";
import Document from "@document/Document.astro";
import { getLinkName } from "@integrations/astro-server";
import {
  getTitle,
  getPublishingDate,
  getCover,
  getCategory,
  getDownloadLinks,
  type PostCollectionKey,
} from "@integrations/content";
import { i18n, setDayjsLocale } from "@integrations/i18n-server";
import { isLocalizedEntry } from "@integrations/astro-server";
import { capitalize } from "@integrations/text";

interface Props extends HTMLAttributes<"div"> {
  entry?: CollectionEntry<PostCollectionKey>;
  fullWidth?: boolean | undefined;
  fullWidthAfter?: boolean | undefined;
  inline?: boolean | undefined;
  container?: boolean;
  contentProps?: ComponentProps<typeof Document>;
  afterProps?: ComponentProps<typeof Text>;
  titleProps?: ComponentProps<typeof Text>;
}

const {
  entry,
  fullWidth,
  fullWidthAfter,
  inline,
  container,
  class: className = "",
  contentProps,
  afterProps,
  titleProps,
  ...props
} = Astro.props;

const { Content, remarkPluginFrontmatter } = entry ? await render(entry) : {};

const title = getTitle(entry);
await setDayjsLocale(Astro);
const publishingDate = getPublishingDate(
  entry,
  remarkPluginFrontmatter
)?.format("LL");
const cover = getCover(entry);
const downloadLinks = getDownloadLinks(entry);
const category = getCategory(entry);
const t = i18n(Astro);
const action = downloadLinks
  ? await t(category === "published tool" ? "try on {}" : "play on {}", {
      interpolate: [await getLinkName(Astro, downloadLinks[0]!)],
    })
  : "";

const fullWidthClass = `w-full ${inline ? "" : "pb-24 lg:pb-10"}`;

const widthClass = `${fullWidthClass} px-6 ${fullWidth ? "lg:px-24" : "max-w-[40rem] 2xl:max-w-[70rem]"}`;
export const buttonWidthClass = "max-w-[25rem] 2xl:max-w-[40rem]";

const noTranslation = contentProps?.isLocalized ?? isLocalizedEntry(entry);

const titleTranslateProps = (
  noTranslation && !container
    ? { translateProps: { disable: noTranslation } }
    : {}
) satisfies Partial<ComponentProps<typeof Text>>;

const documentTranslateProps = (
  noTranslation ? { entryProps: { noTranslation } } : {}
) satisfies Partial<ComponentProps<typeof Document>>;
---

{
  cover && (
    <div class="fixed left-0 right-0 mx-auto lg:hidden">
      <PostCover src={cover} entry={entry!} class="-mt-[39vh] h-[55vh]" />
    </div>
  )
}
<Card
  unstyled
  class={cover ? "rounded-t-3xl lg:rounded-none mt-[26vh] lg:mt-0" : ""}
>
  <div class="flex flex-col items-center">
    <div
      class={`flex flex-col items-center w-full ${container ? "bg-zinc-200 dark:bg-zinc-950" : "bg-gradient-to-b from-zinc-100 dark:from-zinc-900 to-zinc-200 dark:to-zinc-950"} `}
    >
      <div
        class={`${className} ${widthClass} ${inline ? "" : "pt-7 lg:pt-12"} ${Astro.slots.has("after") ? "pb-0!" : ""}`}
        {...props}
      >
        {
          cover && (
            <div class="hidden lg:inline">
              <PostCover src={cover} entry={entry!} class="mb-6 h-[40vh]" />
            </div>
          )
        }
        {
          (Astro.slots.has("header") || entry?.data.draft) && (
            <Text subtitle tag="div">
              {entry?.data.draft ? (
                "Draft (not visible in production)"
              ) : (
                <slot name="header" />
              )}
            </Text>
          )
        }
        <Text
          tag={container ? "h2" : "h1"}
          {...titleTranslateProps}
          {...titleProps}><slot name="title">{title}</slot></Text
        >
        {category && <Text subtitle>{capitalize(category)}</Text>}
        <Document
          inline
          entry={entry}
          tag={Content || container ? "div" : undefined}
          class={`${Content ? "is-entry" : ""} ${publishingDate ? "mt-4" : "mt-6"}`}
          {...documentTranslateProps}
          {...contentProps}><slot /></Document
        >
        {
          downloadLinks && (
            <div class="mb-7 mt-8 flex flex-col items-center">
              <Button
                href={downloadLinks[0]}
                linkClass={buttonWidthClass}
                translateProps={{ disable: true }}
              >
                <div class="group-hover:animate-pulse">
                  {capitalize(action)}
                </div>
              </Button>
              {downloadLinks.length > 1 && (
                <Text
                  subtitle
                  class={`-mb-4 w-full ${buttonWidthClass}`}
                  translateProps={{ disable: true }}
                >
                  {`${await t("Or")}${await t(" ")}`}
                  {downloadLinks
                    .slice(1)
                    .map(async (link, index, { length }) => {
                      const linkName = await getLinkName(Astro, link);
                      return (
                        <>
                          <Link href={link}>{linkName}</Link>
                          {index !== length - 1 ? ", " : ""}
                        </>
                      );
                    })}
                </Text>
              )}
            </div>
          )
        }
        {
          Astro.slots.has("footer") && (
            <Text subtitle tag="div" class="mb-1.5 mt-2 2xl:-mb-1">
              <slot name="footer" />
            </Text>
          )
        }
        {
          publishingDate && (
            <Text
              subtitle
              class="mt-0.5 2xl:mt-3"
              translateProps={{ disable: true }}
            >
              {publishingDate}
            </Text>
          )
        }
      </div>
    </div>
    {
      Astro.slots.has("after") && (
        <Text
          subtitle
          tag="div"
          class={fullWidthAfter ? fullWidthClass : widthClass}
          {...afterProps}
        >
          <slot name="after" />
        </Text>
      )
    }
  </div>
</Card>
<script>
  import type { CollectionKey } from "astro:content";

  //? Save read entries
  document.addEventListener("astro:page-load", () => {
    if (!document.querySelector(".is-entry")) return;

    const readEntriesString = localStorage.getItem("readEntries");

    const readEntries: Partial<Record<CollectionKey, string[]>> =
      readEntriesString ? JSON.parse(readEntriesString) : {};

    const [collection, slug] = location.pathname
      .split("/")
      .filter((part) => !!part)
      .slice(-2) as [CollectionKey, string];

    if (readEntries[collection]?.includes(slug)) {
      // Reorder
      readEntries[collection].splice(readEntries[collection].indexOf(slug), 1);
    }

    // Saved ordered by latest first
    localStorage.setItem(
      "readEntries",
      JSON.stringify({
        ...readEntries,
        [collection]: [slug, ...(readEntries[collection] ?? [])],
      })
    );
  });
</script>
