---
import Text from "@ui/Text.astro";
import { render, type CollectionEntry } from "astro:content";
import Button from "@ui/Button.astro";
import {
  getCategory,
  getPublishingDate,
  getCover,
  type PostCollectionKey,
  getTitle,
  getRoles,
  getTeam,
} from "@integrations/content";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import Media from "@ui/Media.astro";
import { getCoverAlt } from "@post/PostCover.astro";
import getReadingTime from "reading-time";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import { getDescription, getEntryId } from "@layouts/document/Document.astro";
import { isLocalizedEntry } from "@integrations/astro-server";
import { i18n, setDayjsLocale } from "@integrations/i18n-server";
import PostText from "./PostText.astro";
import { capitalize } from "@integrations/text";

interface Props extends HTMLAttributes<"div"> {
  entry?: CollectionEntry<PostCollectionKey> | undefined;
  startHeading?: string | undefined;
  short?: boolean | undefined;
  readMore?: string;
  readMoreText?: string;
  readMoreClass?: string;
  noReadMore?: boolean;
  titleProps?: ComponentProps<typeof Text>;
  hideDate?: boolean;
  container?: boolean;
  contentProps?: ComponentProps<typeof Text>;
  isLocalized?: boolean;
}

const {
  class: className = "",
  container,
  titleProps,
  entry,
  startHeading,
  short,
  readMore,
  readMoreText,
  noReadMore,
  readMoreClass = "",
  hideDate,
  contentProps,
  isLocalized,
  ...props
} = Astro.props;

const { Content, remarkPluginFrontmatter } = entry ? await render(entry) : {};

const title = getTitle(entry);

const renderedContent =
  getDescription(entry, short ? 1 : undefined, short, startHeading) ?? Content;

const isMarkdownContent = typeof renderedContent === "function";

const isMarkdown = !!remarkPluginFrontmatter;

const minutesToRead = isMarkdown
  ? remarkPluginFrontmatter.minutesRead -
    Math.min(
      isMarkdownContent
        ? // Post time
          remarkPluginFrontmatter.minutesRead
        : // Description time
          getReadingTime(renderedContent ?? "").minutes,
      // Maximum time assumed to be already spent reading before clicking read more
      0.2
    )
  : undefined;

await setDayjsLocale(Astro);
dayjs.extend(duration);

const readMoreLink =
  noReadMore || (isMarkdown && minutesToRead! < 0)
    ? undefined
    : (readMore ?? (entry && `${entry.collection}/${getEntryId(entry)}`));

const cover = getCover(entry);
const category = getCategory(entry);

const publishingDate =
  !hideDate && getPublishingDate(entry, remarkPluginFrontmatter)?.format("LL");

const t = i18n(Astro);

const roles =
  entry?.collection === "projects"
    ? await getRoles(Astro, entry, { avoidCreditedAs: true })
    : undefined;

const team = getTeam(entry);

const subtitle = [
  category && (await t(capitalize(category))),
  publishingDate,
  roles
    ? capitalize(
        !team.soloDeveloped
          ? roles.join(`${await t(",")}${await t(" ")}`)
          : await t("solo developed")
      )
    : "",
].filter((part) => !!part);

const noTranslation = isLocalized ?? isLocalizedEntry(entry);

const finalReadMoreText = await t(
  readMoreText ??
    (isMarkdown
      ? `Read in ${dayjs.duration({ minutes: Math.ceil(minutesToRead!) }).get("minutes")} min`
      : "Read more")
);
---

<div class=`${className} post-preview h-full` {...props}>
  <div class="flex size-full flex-col justify-between">
    <div>
      {
        (Astro.slots.has("header") || entry?.data.draft) && (
          <Text subtitle tag="div">
            {entry?.data.draft ? (
              "Draft (not visible in production)"
            ) : (
              <slot name="header" />
            )}
          </Text>
        )
      }
      {
        (title || Astro.slots.has("title")) && (
          <Text
            tag="h1"
            class={`post-preview-title ${container ? "lg:ml-4" : ""}`}
            importance={container ? "container" : undefined}
            {...((noTranslation && !container
              ? { translateProps: { disable: noTranslation } }
              : {}) satisfies Partial<ComponentProps<typeof Text>>)}
            {...titleProps}
          >
            <slot name="title">{title}</slot>
          </Text>
        )
      }
      {
        subtitle.length !== 0 && (
          <Text subtitle class="xl:mt-3" translateProps={{ disable: true }}>
            {subtitle.join(" \\ ")}
          </Text>
        )
      }
      <Text
        class={`${subtitle.length !== 0 || renderedContent || Astro.slots.has("title") ? (container ? "mt-6" : "mt-3") : ""} ${container ? "max-h-[32rem]" : readMoreLink ? "max-h-64" : ""}`}
        markdown={isMarkdownContent}
        tag={isMarkdownContent || container ? "div" : undefined}
        {...(noTranslation
          ? { translateProps: { disable: noTranslation } }
          : {}) satisfies Partial<ComponentProps<typeof Text>>}
        {...contentProps}
        ><slot
          >{
            isMarkdownContent ? (
              <PostText
                preview
                inline
                entry={entry}
                {...((noTranslation
                  ? { entryProps: { noTranslation } }
                  : {}) satisfies Partial<ComponentProps<typeof PostText>>)}
              />
            ) : (
              renderedContent
            )
          }</slot
        ></Text
      >
    </div>
    {
      Astro.slots.has("footer") && (
        <Text subtitle class="mt-6" tag="div">
          <slot name="footer" />
        </Text>
      )
    }
  </div>{
    cover && (
      <div
        class={`post-preview-cover pointer-events-none absolute inset-0 opacity-0 duration-700 ${container ? "group-hover/container-card:opacity-15" : "group-hover/card:opacity-15"}`}
      >
        <Media src={cover} alt={getCoverAlt(entry!)} smoothLoading />
      </div>
    )
  }{
    readMoreLink && (
      <Button
        cardButton
        container={container}
        class="post-preview-read-more"
        linkClass={`${readMoreClass} absolute bottom-0 left-0`}
        href={readMoreLink}
        translateProps={{ disable: true }}
      >
        {finalReadMoreText}
        <br />▼
      </Button>
    )
  }
</div>
<script>
  import { switchClasses } from "@integrations/tailwind";

  document.addEventListener("astro:page-load", () => {
    const coverObserver = new IntersectionObserver(
      (entries) =>
        entries.forEach(({ isIntersecting, target }) =>
          switchClasses(target, isIntersecting, ["opacity-15"], ["opacity-0"])
        ),
      { threshold: 0.5 }
    );

    const containerToReadMore = new Map<Element, Element>();

    // TODO PHASE 2 maybe looking for some seconds could also scale text on mobile
    const readMoreObserver = new IntersectionObserver(
      (entries) =>
        entries.forEach(({ isIntersecting, target }) =>
          switchClasses(
            containerToReadMore.get(target)!,
            isIntersecting,
            ["animate-pulse", "lg:animate-none"],
            []
          )
        ),
      { threshold: 0.9 }
    );

    document.querySelectorAll("div.post-preview").forEach((element) => {
      const cover = element.querySelector("div.post-preview-cover");

      if (cover) coverObserver.observe(cover);

      const readMoreText = element.querySelector(
        "button.post-preview-read-more"
      )?.firstElementChild;

      if (readMoreText) {
        const container = element.parentElement?.classList.contains(
          "content-list-card"
        )
          ? element.parentElement
          : element;

        containerToReadMore.set(container, readMoreText);
        readMoreObserver.observe(container);
      }
    });
  });
</script>
