---
import ProfilePicture from "@images/profile-picture.jpg";
import Link from "@layouts/Link.astro";
import Text from "@layouts/Text.astro";
import Button from "@layouts/Button.astro";
import LinkedIn from "@images/logos/linkedin.svg?raw";
import PostPreview from "@layouts/Post/PostPreview.astro";
import type { ComponentProps } from "astro/types";
import Fullscreenable from "@layouts/Fullscreenable.astro";
import { Image } from "astro:assets";
import { getLinkName } from "src/utils";

interface Props {
  importance?: ComponentProps<typeof PostPreview>["importance"];
}

const { importance } = Astro.props;

const linkedIn = "https://linkedin.com/in/maxludovicohofer";
---

<PostPreview importance={importance}>
  <div slot="header" class="flex items-center gap-x-4 mb-6">
    <Fullscreenable
      class="!size-14 2xl:!size-20 !rounded-full hover:scale-125"
      data-umami-event="Profile picture"
    >
      <Image
        src={ProfilePicture}
        class="rounded-full"
        alt="Close up of Max Ludovico Hofer"
        loading="eager"
      />
    </Fullscreenable>
    <div>
      <Text title>Max Ludovico Hofer</Text>
      <div class="flex items-center gap-0.5 -ml-0.5 2xl:-ml-1">
        <Link
          href={linkedIn}
          class="!size-6 2xl:!size-8 drop-shadow-md hover:drop-shadow-lg active:drop-shadow"
          data-umami-event={getLinkName(linkedIn)}
          ><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>
  I'm a game designer with a passion for mechanics, combat, AI, and systems.
  <Button
    slot="footer"
    class="mt-2"
    href="/public-resume.pdf"
    data-umami-event="Resume">View my resume</Button
  >
</PostPreview>
