---
import ProfilePicture from "@images/profile-picture.jpg";
import Link from "@ui/Link.astro";
import Text from "@ui/Text.astro";
import Button from "@ui/Button.astro";
import LinkedIn from "@images/logos/linkedin.svg?raw";
import PostPreview from "@post/PostPreview.astro";
import type { ComponentProps } from "astro/types";
import Fullscreenable from "@ui/Fullscreenable.astro";
import { getLinkName } from "@integrations/astro-server";
import { addBaseToLink, getRole } from "@integrations/astro-server";
import { getPrintPath } from "@integrations/pdf.mjs";
import { getSpecializationSentence } from "@integrations/docs";
import Media from "./ui/Media.astro";
import { getCurrentLocale, i18n } from "@integrations/i18n-server";

interface Props extends ComponentProps<typeof PostPreview> {}

export const mail = "hofermaxludovico@gmail.com";

const t = i18n(Astro);
const { role } = await getRole(Astro);

const resumePageLink = await addBaseToLink(
  Astro,
  `docs/${getCurrentLocale(Astro) === "ja" ? "履歴書" : "resume"}`
);
const resumeLink = `/${getPrintPath(resumePageLink)}`;

const specializationSentence = await getSpecializationSentence(Astro);

const viewResumeSentence = await t("View my resume");

const profilePictureEventName = await getLinkName(Astro, ProfilePicture.src);
---

<PostPreview {...Astro.props}
  ><div slot="header" class="flex items-center gap-x-4 mb-6">
    <Fullscreenable
      class="!max-w-14 2xl:!max-w-20 !rounded-full hover:scale-125"
      noAnimation
      data-umami-event={profilePictureEventName}
      ><Media
        src={ProfilePicture}
        class="rounded-full"
        alt="Close up of Max Ludovico Hofer"
        loading="eager"
      /></Fullscreenable
    ><div>
      <Text tag="h3">Max Ludovico Hofer</Text><div
        class="flex items-center gap-0.5 -ml-0.5 2xl:-ml-1"
      >
        <Link
          href="https://linkedin.com/in/maxludovicohofer"
          class="!size-6 2xl:!size-8 drop-shadow-md hover:drop-shadow-lg active:drop-shadow"
          ><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>I'm {role.data.withArticle}{" "}
  {specializationSentence}.<Button
    slot="footer"
    class="mt-2"
    href={import.meta.env.DEV ? resumePageLink : resumeLink}
    noBase
    translateProps={{ disable: true }}
    ><div class="group-hover:animate-pulse">{viewResumeSentence}</div></Button
  >
</PostPreview>
