---
import ProfilePicture from "@pictures/profile-picture.jpg";
import Link from "@ui/Link.astro";
import Text from "@ui/Text.astro";
import Button from "@ui/Button.astro";
import LinkedIn from "@icons/linkedin.svg?raw";
import PostPreview from "@post/PostPreview.astro";
import type { ComponentProps } from "astro/types";
import Fullscreenable from "@ui/Fullscreenable.astro";
import { getLinkName } from "@integrations/astro-server";
import { addBaseToLink } from "@integrations/astro-server";
import { getPrintPath } from "@integrations/pdf";
import { getMyName, getSummary } from "@integrations/docs";
import Media from "./ui/Media.astro";
import { i18n } from "@integrations/i18n-server";
import { getCurrentLocale } from "@integrations/i18n-special";

interface Props extends ComponentProps<typeof PostPreview> {}

export const mail = "hofermaxludovico@gmail.com";

const t = i18n(Astro);

const viewResumeSentence = await t("View my resume");
const viewWorkHistorySentence = await t("View my work history");

const documentPageLinks = await Promise.all(
  (getCurrentLocale(Astro) === "ja"
    ? [
        { path: "docs/履歴書", button: viewResumeSentence },
        { path: "docs/職務経歴書", button: viewWorkHistorySentence },
      ]
    : [{ path: "docs/resume", button: viewResumeSentence }]
  ).map(async ({ path, ...link }) => ({
    path: await addBaseToLink(Astro, path),
    ...link,
  }))
);
const documentLinks = documentPageLinks.map(({ path, ...link }) => ({
  path: `/${getPrintPath(path)}`,
  ...link,
}));

const summary = await getSummary(Astro, true);

const profilePictureEventName = await getLinkName(Astro, ProfilePicture.src);

const myName = await getMyName(Astro);
---

<PostPreview
  contentProps={{ translateProps: { disable: true } }}
  {...Astro.props}
>
  <div slot="header" class="flex items-center gap-x-4 mb-6">
    <Fullscreenable
      class="!max-w-14 2xl:!max-w-20 !rounded-full hover:scale-125"
      noAnimation
      data-umami-event={profilePictureEventName}
      ><Media
        src={ProfilePicture}
        class="rounded-full"
        alt={`Close up of ${myName.rawButOrdered}`}
        loading="eager"
      /></Fullscreenable
    >
    <div>
      <Text tag="h3" translateProps={{ disable: true }}
        >{myName.translated}</Text
      >
      <div class="flex items-center gap-0.5 -ml-0.5 2xl:-ml-1">
        <Link
          href="https://linkedin.com/in/maxludovicohofer"
          class="!size-6 2xl:!size-8 drop-shadow-md hover:drop-shadow-lg active:drop-shadow"
          ><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>
  {summary}
  <div slot="footer" class="flex mt-2 gap-0.5">
    {
      (import.meta.env.DEV ? documentPageLinks : documentLinks).map(
        ({ path, button }, index, array) => (
          <Button
            href={path}
            noBase
            class={`${index === 0 ? "" : "rounded-l-none h-full"} ${index === array.length - 1 ? "" : "rounded-r-none h-full"}`}
            translateProps={{ disable: true }}
          >
            <div class="group-hover:animate-pulse">{button}</div>
          </Button>
        )
      )
    }
  </div>
</PostPreview>
