---
import Page from "@layouts/Page.astro";
import Post, {
  getDescription,
  getPostId,
  getTitle,
} from "@layouts/Post/Post.astro";
import { getCollection, getEntries } from "astro:content";
import PostFooter from "@components/Post/PostFooter.astro";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import PostList from "@layouts/Post/PostList.astro";

// Generate a new path for every collection entry
export const getStaticPaths = async () =>
  (
    await getCollection(
      "projects",
      ({ data: { draft } }) => import.meta.env.DEV || !draft
    )
  ).map((entry) => ({
    params: { id: getPostId(entry) },
    props: { entry },
  }));

const { entry } = Astro.props;
const { roles, tech, awards, team, developmentTime } = entry.data;

const techData = await getEntries(tech);

dayjs.extend(duration);
dayjs.extend(relativeTime);
const developmentDuration = dayjs.duration(developmentTime).humanize();

const title = getTitle(entry)!;

// TODO PHASE 2 USE HREF ON PAGE BACK, BUT GET HREF DINAMICALLY
---

<Page title={title} description={getDescription(entry, 2) ?? title}>
  <Post entry={entry} followedByOther>
    <Fragment slot="footer">
      <PostFooter
        value={!team || team === 1
          ? `Solo developed in ${developmentDuration}`
          : `Made in ${developmentDuration} by an average team of ${team}`}
        >Development</PostFooter
      >
      {
        roles && roles.length !== 0 && (
          <>
            <br />
            <PostFooter value={roles}>Roles</PostFooter>
          </>
        )
      }
      <br />
      <PostFooter value={techData.map(({ data: { id } }) => id)}
        >Tech</PostFooter
      >
      {
        awards && awards.length !== 0 && (
          <>
            <br />
            <PostFooter value={awards}>Awards</PostFooter>
          </>
        )
      }
    </Fragment>
  </Post>
  <div class="-mt-24 lg:-mt-20">
    <PostList collection="projects" isNotFullpage exclude={[entry.id]} />
  </div>
</Page>
