---
import Projects from "@components/Projects.astro";
import Page from "@layouts/Page.astro";
import Post from "@layouts/Post.astro";
import { getCollection, getEntries } from "astro:content";
import PostFooter from "@components/PostFooter.astro";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";

// Generate a new path for every collection entry
export const getStaticPaths = async () =>
  (await getCollection("projects", ({ data: { draft } }) => !draft)).map(
    (entry) => ({
      params: { id: entry.id },
      props: { entry },
    })
  );

const { entry } = Astro.props;
const { title, description, roles, tech, awards, team, developmentTime } =
  entry.data;

const techData = await getEntries(tech);

dayjs.extend(duration);
dayjs.extend(relativeTime);
const developmentDuration = dayjs.duration(developmentTime).humanize();

// TODO PHASE 2 USE HREF ON PAGE BACK, BUT GET HREF DINAMICALLY
---

<Page title={title} description={description}>
  <Post entry={entry} followedByOther>
    <Fragment slot="footer">
      <PostFooter
        value={!team || team === 1
          ? `Solo developed in ${developmentDuration}`
          : `Made in ${developmentDuration} by an average team of ${team}`}
        >Development</PostFooter
      >
      {
        roles && roles.length !== 0 && (
          <>
            <br />
            <PostFooter value={roles}>Roles</PostFooter>
          </>
        )
      }
      <br />
      <PostFooter value={techData.map(({ data: { id } }) => id)}
        >Tech</PostFooter
      >
      {
        awards && awards.length !== 0 && (
          <>
            <br />
            <PostFooter value={awards}>Awards</PostFooter>
          </>
        )
      }
    </Fragment>
  </Post>
  <div class="-mt-24 lg:-mt-20">
    <Projects isNotFullpage exclude={[entry.id]} />
  </div>
</Page>
