---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  src?: Exclude<ComponentProps<typeof Image>["src"], string>;
  alt?: string;
  className?: string;
  imageClassName?: string;
  loading?: ComponentProps<typeof Image>["loading"];
}

const { src, alt, className, imageClassName, loading } = Astro.props;

// TODO MAKE IMAGES FULLSCREENABLE
---

{
  src && (
    <Button noFocus fullHeight className={`${className} !bg-transparent`}>
      <Image
        src={src}
        class={`${imageClassName}`}
        alt={alt}
        loading={loading}
      />
    </Button>
  )
}
