---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  src?: Exclude<ComponentProps<typeof Image>["src"], string>;
  alt?: string;
  className?: string;
  imageClassName?: string;
  loading?: ComponentProps<typeof Image>["loading"];
}

const { src, alt, className, imageClassName, loading } = Astro.props;

// TODO MAKE IMAGES FULLSCREENABLE
---

{
  src && (
    <Button
      noFocus
      fullHeight
      className={`can-fullscreen ${className} !bg-transparent`}
    >
      <Image src={src} class={imageClassName} alt={alt} loading={loading} />
    </Button>
  )
}
<script>
  const activateModal = (content: Node) => {
    const modal = document.querySelector<HTMLDivElement>("div.modal");

    const modalSlot = modal!.parentElement!;
    modalSlot.className = `${modalSlot.className} !pointer-events-auto`;

    const backdrop = modal!.previousElementSibling!;
    backdrop.className = `${backdrop.className} !opacity-100`;

    const backButton = modal!.nextElementSibling!;
    backButton.className = `${backButton.className} !opacity-100`;

    modal!.append(content);
  };

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLButtonElement>("button.can-fullscreen")
      ?.forEach((fullImage) =>
        fullImage.addEventListener("click", () => {
          const modalImage = fullImage.cloneNode(true) as HTMLElement;

          modalImage.className = `${modalImage.className} !size-auto hover:!scale-100 active:!scale-100`;

          modalImage.firstElementChild!.className = ` ${modalImage.firstElementChild!.className} !h-screen !w-auto !object-cover`;

          activateModal(modalImage);
        })
      )
  );
</script>
