---
import { ClientRouter } from "astro:transitions";
import BackButton from "@components/BackButton.astro";
import ModalSlot from "./ModalSlot.astro";

interface Props {
  title: string;
  description: string;
  backHref?: string;
}

const { title, description, backHref } = Astro.props;

const completeTitle = `Max Hofer \\ ${title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{completeTitle}</title>
    <meta name="title" content={completeTitle} />
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <ClientRouter />
  </head>
  <body class="bg-zinc-200 dark:bg-zinc-950">
    <slot />
    {
      Astro.url.pathname !== "/" && (
        <BackButton href={backHref} prefetch="load" />
      )
    }
    <ModalSlot />
    <script>
      // This code fixes Astro scroll restoration
      document.addEventListener("astro:before-swap", () => {
        const { scrollX, scrollY } = history.state as {
          scrollX: number;
          scrollY: number;
        };

        sessionStorage.setItem(
          location.pathname,
          JSON.stringify({
            left: scrollX,
            top: scrollY,
          } satisfies ScrollToOptions)
        );
      });

      document.addEventListener("astro:after-swap", () => {
        const state = sessionStorage.getItem(location.pathname);

        if (!state) return;

        scrollTo({ ...JSON.parse(state), behavior: "instant" });
      });
    </script>
    <script
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
      defer
      is:inline
      data-astro-rerun></script>
  </body>
</html>
