---
import ViewTransitions from "astro/components/ViewTransitions.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const completeTitle = `Max Hofer \\ ${title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{completeTitle}</title>
    <meta name="title" content={completeTitle} />
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <ViewTransitions />
  </head>
  <body class="bg-zinc-200 dark:bg-zinc-950">
    <slot />
    <script
      is:inline
      data-astro-rerun
      async
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </body>
</html>
