---
import Text from "@layouts/Text.astro";
import type { CollectionEntry } from "astro:content";
import Button from "./Button.astro";
import { Image } from "astro:assets";
import {
  getCategory,
  getDescription,
  getLastModifiedDate,
  getPostCover,
} from "./Post.astro";
import type { ComponentProps } from "astro/types";
import Video from "./Video.astro";
import { isVideoCover } from "@components/Cover.astro";

interface Props {
  entry?: CollectionEntry<"thoughts"> | CollectionEntry<"projects"> | undefined;
  descriptionAsBody?: boolean | undefined;
  readMore?: string;
  readMoreText?: string;
  noReadMore?: boolean;
  minutesAlreadySpentReading?: number | undefined;
  importance?: 1 | 2 | 3 | 4 | undefined;
  tag?: ComponentProps<typeof Text>["tag"];
  hideDate?: boolean;
  container?: boolean;
}

const {
  importance = 3,
  entry,
  descriptionAsBody,
  readMore,
  readMoreText,
  noReadMore,
  tag,
  hideDate,
  container,
  minutesAlreadySpentReading = 0.5, // Time assumed to be already spent reading before clicking read more
} = Astro.props;

const { Content, remarkPluginFrontmatter } = entry ? await entry.render() : {};

const realMinutesToRead =
  remarkPluginFrontmatter &&
  remarkPluginFrontmatter.minutesRead - minutesAlreadySpentReading;

const minutesToRead =
  realMinutesToRead !== undefined && Math.max(Math.round(realMinutesToRead), 1);

const readMoreLink =
  noReadMore || (realMinutesToRead && realMinutesToRead < 0)
    ? undefined
    : (readMore ?? (entry && `/${entry.collection}/${entry.slug}`));

const cover = getPostCover(entry);
const description = getDescription(entry);
const category = getCategory(entry);
const lastModifiedTime =
  !hideDate &&
  getLastModifiedDate(remarkPluginFrontmatter)?.format("D MMMM YYYY");

const subtitle = [category, lastModifiedTime].filter((part) => !!part);

// TODO FIX BACKGROUND IMAGE MOBILE (based on card aspect vs video aspect, should use top-0 bottom 0 or left 0 right 0)
---

{
  Astro.slots.has("header") && (
    <Text subtitle className="mb-6" tag="div">
      <slot name="header" />
    </Text>
  )
}
<Text
  title
  className={`${
    importance === 1
      ? "text-3xl lg:text-xl 2xl:text-3xl"
      : importance === 2
        ? "text-2xl 2xl:text-3xl"
        : importance === 3
          ? "text-3xl 2xl:text-5xl"
          : "text-3xl lg:text-5xl 2xl:text-8xl"
  } ${container ? "lg:ml-4 mt-1 lg:mt-0" : ""}`}
  >{entry?.data.title ?? <slot name="title" />}</Text
>
{
  subtitle.length !== 0 && (
    <Text subtitle className="xl:mt-3">
      {subtitle.join(" \\ ")}
    </Text>
  )
}
<Text
  className={`${lastModifiedTime ? "mt-4" : Content || Astro.slots.has("title") ? "mt-6" : ""} text-xl 2xl:text-3xl ${container ? "max-h-[25.6rem]" : readMoreLink ? "max-h-72" : ""}`}
  markdown={!!Content}
  tag={tag ?? (container ? "div" : undefined)}
  >{
    descriptionAsBody && description ? (
      description
    ) : Content ? (
      <Content />
    ) : (
      <slot />
    )
  }</Text
>
{
  readMoreLink && (
    <Button
      cardButton
      className="absolute bottom-0 left-0 h-1/3"
      href={readMoreLink}
      navigate
    >
      <div
        class={`size-full flex flex-col justify-end pb-5 ${container ? "group-hover/container-card:animate-pulse" : "group-hover/card:animate-pulse"} intersect:animate-pulse lg:intersect:animate-none intersect-full`}
      >
        {readMoreText ??
          (minutesToRead ? `Read in ${minutesToRead} min` : "Read more")}
        <br />▼
      </div>
    </Button>
  )
}
{
  cover && (
    <div
      class={`flex items-center justify-center opacity-0 intersect:opacity-15 intersect-half duration-700 pointer-events-none ${container ? "group-hover/container-card:opacity-15" : "group-hover/card:opacity-15"}`}
    >
      {isVideoCover(cover) ? (
        <div class="absolute top-0 bottom-0">
          <Video noControls noBlackBands youTubeInfo={cover} />
        </div>
      ) : (
        <Image
          src={cover()}
          class="absolute inset-0 size-full object-cover"
          alt={description ?? `Graphic explanation of "${entry!.data.title}"`}
        />
      )}
    </div>
  )
}
