---
import Text from "@layouts/Text.astro";
import type { CollectionEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import Button from "./Button.astro";
import { Image } from "astro:assets";

interface Props {
  content?: CollectionEntry<"thoughts"> | CollectionEntry<"projects">;
  importance?: 1 | 2 | 3;
}

const { importance = 2, content } = Astro.props;

const { Content, remarkPluginFrontmatter } = content
  ? await content.render()
  : { Content: undefined };

// It is assumed that a person reads for approximately 1 minute before clicking read more
const minutesAlreadySpentReading = 1;

const minutesToRead = remarkPluginFrontmatter
  ? Math.max(
      Math.round(remarkPluginFrontmatter.minutesRead) -
        minutesAlreadySpentReading,
      1
    )
  : 0;

// Load project related info
const project = content?.collection == "projects" ? content : undefined;

const imageFolder = "/src/images/projects/";
const images =
  project &&
  import.meta.glob<{ default: ImageMetadata }>(
    "/src/images/projects/*.{jpeg,jpg,png,gif}"
  );
const imagePath = images && `${imageFolder}${project.slug}.png`;

if (images && !images[imagePath!]) {
  throw new Error(
    `"${imagePath}" does not exist in pattern: "${imageFolder}*.{jpeg,jpg,png,gif}"`
  );
}

// Evaluate classes
const titleClass =
  importance == 1
    ? "text-3xl lg:text-2xl 2xl:text-3xl"
    : importance == 2
      ? "text-3xl 2xl:text-5xl"
      : "text-3xl lg:text-5xl 2xl:text-8xl";
---

{
  Astro.slots.has("header") && (
    <div class="text-sm 2xl:text-xl leading-6 mb-6">
      <slot name="header" />
    </div>
  )
}

<Text title className={titleClass}
  >{content?.data.title ?? <slot name="title" />}</Text
>
<Text className="mt-6 text-xl 2xl:text-3xl" markdown={!!Content}
  >{Content ? <Content /> : <slot />}</Text
>
{
  content && (
    <Button readMore className="absolute bottom-0 -mx-8">
      Read in {minutesToRead} min
      <br />▼
    </Button>
  )
}
{
  images && (
    <Image
      src={images[imagePath!]!()}
      class="absolute inset-0 -z-10 size-full object-cover opacity-0 group-hover:opacity-15 intersect:opacity-15 lg:intersect:opacity-0 intersect-half duration-700"
      alt={project.data.description}
    />
  )
}
